<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" verbose="10">
  <test name="Test" preserve-order="true"
		verbose="2">
    <classes>
      <class name="com.test.scripts.GoogleSearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->